<html>
<head>
	<title>Music Streaming Application (Built with Python and Flask)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
</head>

<body>
<div class="container">
    <div class="page-header">
      <h1>Music Streaming Application (Built with Python and Flask)</h1>
    </div>
    {% block content %}
 
    {% endblock %}
    <hr/>
    <div class="modal-footer">
        <h4>Created from tutorial found at <a href="http://pypix.com/python/create-simple-music-streaming-app-flask/"> Create a Simple Music Streaming App with Flask</a> (Some changes were made)</h4>
        <h4>The Bootstrap theme is Amelia from <a href="http://bootswatch.com/amelia/">Bootswatch</a></h4>
        <h4>My source code is located at: <a href="https://github.com/tbarn/flaskMusicStream">github.com/tbarn/flaskMusicStream</a></h4> 
    </div>
</div>
</body>
</html>