<html>
<head>
	<title>Music Streaming Application (Built with Python and Flask)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
</head>

<body>
<div class="container">
    <div class="page-header">
      <h1>Music Streaming Application (Built with Python and Flask)</h1>
    </div>
    {% block content %}
 
    {% endblock %}
    <hr/>
    <div class="modal-footer">
        <h4>From tutorial found at <a href="http://pypix.com/python/create-simple-music-streaming-app-flask/"> Create a Simple Music Streaming App with Flask</h4>
    </div>
</div>
</body>
</html>